*{
    box-sizing: border-box;
}
head,body{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    padding-left: 77px;
    padding-right: 119px;
}
header{
    color: #333;
    font-size: 24px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    padding-top: 40px;
}
.column{
    width: 50%;
    float: left;
}
/* Image */
#scareImg{
    width: 500px;
    height: 400px;
    margin-top: 100px;
}
#badText{
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
    font-family: Space Mono;
}
#smallText{
    color: #4F4F4F;
    font-size: 24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    width: 381px;
    display: block;
}
#backBtn{
    background-color: #333;
    color: #FFF;
    padding: 23px 43px;
    font-size: 14px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    margin-top: 64px;
}
footer{
    text-align: center;
    color: #BDBDBD;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    transform: translate(0px,80px);
}
/* Tablet Screens */
@media screen and (max-width:900px){
    head,body{
        padding-left: 64px;
    }
    header{
        font-size: 26px;
        padding-top: 30px;
    }
    .column{
        width: 100%;
    }
    #scareImg{
        width: 450px;
        height: 350px;
        padding-left: 120px;
    }
    #badText{
        font-size: 48px;
        letter-spacing: -1.68px;
        width: 650px;
    }
    #smallText{
        font-size: 18px;
        letter-spacing: -0.63px;
        width: 650px;
    }
    #backBtn{
       margin-top: 44px;
       white-space: nowrap;
       margin-left: 35%;
    }
   footer{
    text-align: center; 
   }
}
/* Mobile screens */
@media screen and (max-width:500px){
    head,body{
        padding-left: 24px;
    }
    header{
        font-size: 26px;
        padding-top: 20px;
    }
    .column{
        width: 100%;
    }
    #scareImg{
        width: 286.83px;
        height: 238px;
        padding-left: 40px;
    }
    #badText{
        font-size: 48px;
        letter-spacing: -1.68px;
        width: 350px;
    }
    #smallText{
        font-size: 18px;
        letter-spacing: -0.63px;
        width: 328px;
    }
    #backBtn{
       margin-top: 44px;
       white-space: nowrap;
    }
   footer{
    position: absolute;
    text-align: center; 
    bottom:0px;
    transform: translate(0px,230px);
   }
}
